.App {
  background-image: url("/src/assets/background.png");
  background-repeat: repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
.toprow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 5%;
  position: relative;
  width: auto;
}
.miffy{
  display: flex;
  transform: translate(0%, 40%);
  position: absolute;
  height: 5%;
  width: 5%;
  justify-content: right;
}
.photoboothtext{
  justify-content: center;
  width: 75%;
  height: auto%;
  padding: -5px;

}
.photo-slot{
  border: 1rem solid #91b6eaff; 
  min-height: 20%;
  aspect-ratio: 4/3;
}
.photo-slot{
  object-fit: cover;
  
}

.camframe{
  right:10%;
  
  margin-top: -5%;
  width: 60%;
  position: relative;
  display: flex;
  text-align: left;
  overflow: visible;
}
.midsection{
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
  
}
.webcam{
  position: absolute;
  z-index: 4;

  text-align: center;
  transform: translate(40%, 25%);
  width: 60%;
}
.photoframe{
  width: 100%;
  translateY: -100%;
  z-index: 1;
  position: absolute;
  vertical-align: middle;
  
}

.startbutton{ 
  position: fixed;
  bottom: 10%;    
  left: 50%;
  transform: translate(-50%,50%);
  padding: 10px 20px;
  background-color: #91b6eaff;
  border: none;
  border-radius: 10px;
  font: monospace;
  cursor: pointer;
  z-index: 5;      
  font-size: 16px;
  font-family: 'Verdana', sans-serif;
  color: white;
}
.color{
  position: absolute;
  bottom: 10px;    
  left: 30%;
  transform: translateX(-50%);
  padding: 10px 20px;
  cursor: pointer;
  z-index: 5;      
  font-size: 16px;
}
.bw{
  position: absolute;
  bottom: 10px;    
  left: 40%;
  transform: translateX(-50%);
  padding: 10px 20px;
  cursor: pointer;
  z-index: 5;      
  font-size: 16px;
}
.photo-strip img{
  width: 100%;
  height: auto;
}
.photo-strip{
  width: 15%;
}
.photobooth{
  display: flex;
  flex-direction: row;
  
  
}
#countingdown{
  position: relative;
  font-size: 10em;
  visibility: hidden;
  color: white; 
  z-index: 10;
  transform: translate(550%, 60%);
  transition: opacity 0.2s;
  font-family: monospace;
  
}